In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
%matplotlib inline

In [2]:
df=pd.read_csv("D:\Movies Cluster\movies_metadata.csv")
df.head(2)

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

In [3]:
df_movies=df[["budget","popularity","revenue","runtime","original_language","vote_average","vote_count","title"]]
df_movies.head()

,budget,popularity,revenue,runtime,original_language,vote_average,vote_count,title
0,30000000,21.9469,373554033.0,81.0,en,7.7,5415.0,Toy Story
1,65000000,17.0155,262797249.0,104.0,en,6.9,2413.0,Jumanji
2,0,11.7129,0.0,101.0,en,6.5,92.0,Grumpier Old Men
3,16000000,3.85949,81452156.0,127.0,en,6.1,34.0,Waiting to Exhale
4,0,8.38752,76578911.0,106.0,en,5.7,173.0,Father of the Bride Part II

In [4]:
df_movies.isnull().sum()

budget                 0
popularity             5
revenue                6
runtime              263
original_language     11
vote_average           6
vote_count             6
title                  6
dtype: int64

In [5]:
df_movies.dropna(inplace=True)

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [6]:
df_movies['vote_count'].describe()

count    45192.000000
mean       110.532572
std        492.695304
min          0.000000
25%          3.000000
50%         10.000000
75%         34.000000
max      14075.000000
Name: vote_count, dtype: float64

In [7]:
df_movies=df_movies[df_movies['vote_count']>30]

In [8]:
genres = np.unique(df_movies['original_language'])
genres

array(['ab', 'af', 'ar', 'bn', 'bs', 'ca', 'cn', 'cs', 'da', 'de', 'el',
       'en', 'es', 'et', 'fa', 'fi', 'fr', 'he', 'hi', 'hu', 'id', 'is',
       'it', 'ja', 'ko', 'ku', 'lo', 'mn', 'nb', 'nl', 'no', 'pl', 'ps',
       'pt', 'ro', 'ru', 'sh', 'sr', 'sv', 'ta', 'te', 'th', 'tl', 'tr',
       'uk', 'vi', 'xx', 'zh'], dtype=object)

In [9]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df_movies['original_language']= le.fit_transform(df_movies['original_language'])

In [10]:
df_movies.head(5)

,budget,popularity,revenue,runtime,original_language,vote_average,vote_count,title
0,30000000,21.9469,373554033.0,81.0,11,7.7,5415.0,Toy Story
1,65000000,17.0155,262797249.0,104.0,11,6.9,2413.0,Jumanji
2,0,11.7129,0.0,101.0,11,6.5,92.0,Grumpier Old Men
3,16000000,3.85949,81452156.0,127.0,11,6.1,34.0,Waiting to Exhale
4,0,8.38752,76578911.0,106.0,11,5.7,173.0,Father of the Bride Part II

In [11]:
from sklearn.preprocessing import MinMaxScaler
mm=MinMaxScaler()
processed_data=mm.fit_transform(df_movies.drop('title',axis=1))
df_movies_scaled=pd.DataFrame(processed_data,index=df_movies.index,columns=df_movies.columns[:-1])
df_movies_scaled.head()

,budget,popularity,revenue,runtime,original_language,vote_average,vote_count
0,0.078947,0.040082,0.133988,0.092360,0.234043,0.810526,0.383367
1,0.171053,0.031075,0.094261,0.118586,0.234043,0.726316,0.169610
2,0.000000,0.021389,0.000000,0.115165,0.234043,0.684211,0.004343
3,0.042105,0.007045,0.029216,0.144812,0.234043,0.642105,0.000214
4,0.000000,0.015315,0.027468,0.120867,0.234043,0.600000,0.010111